* { margin: 0; padding: 0; font-family: sans-serif; outline: none; }
body {
    background-color: black;
}
.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: black;
}
.arealogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: gray;
    width: 300px;
    height: 200px;
    border-radius: 25px;
    padding: 10px;
}
.instructions {
    text-align: justify;
    margin-bottom: 10px;
}
.btn-jogar {
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 40px;
    background-color: darkgray;
    margin-top: 10px;
}
#txtnome {
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid darkgray;
    padding: 10px;
    font-size: 15px;
}
.ball {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: red;
    position: absolute;
}
#gameover {
    color: white;
    z-index: 1;
    display: none;
    border: 2px solid white;
    padding: 10px;
}
#placar {
    color: white;
    align-self: flex-start;
}
.areatxt {
    display: flex;
    background-color: transparent;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
#btn-try {
    display: none;
    z-index: 1;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 40px;
    background-color: white;
    margin-top: 10px;
}